name: build

on:
  - push
  - pull_request

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - name: Install ttfautohint
      run: |
        sudo apt-get update
        sudo apt-get install ttfautohint
    - name: Checkout Iosevka
      uses: actions/checkout@v3
      with:
        repository: be5invis/Iosevka
        fetch-depth: 1
        fetch-tags: false
    - name: Checkout configuration
      uses: actions/checkout@v3
      with:
        path: IosevkaNeat
    - name: Place config in correct location
      run: ln -s IosevkaNeat/private-build-plans.toml private-build-plans.toml
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Build Neat
      run: npm run build -- ttf::IosevkaNeat
    - uses: actions/upload-artifact@v4
      with:
        name: IosevkaNeat
        path: dist/IosevkaNeat/TTF/*
    - name: Build West
      run: npm run build -- ttf::IosevkaWest
    - uses: actions/upload-artifact@v4
      with:
        name: IosevkaWest
        path: dist/IosevkaWest/TTF/*
    - name: Build West Extended
      run: npm run build -- ttf::IosevkaWestExtended
    - uses: actions/upload-artifact@v4
      with:
        name: IosevkaWestExtended
        path: dist/IosevkaWestExtended/TTF/*
